.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

### lombok ###
lombok.config

.DS_Store
/target/site/serenity/
/pacts/
/bin/contractTest/json/case_data_map.json
/bin/contractTest/application.properties
/bin/contractTest/logback-test.xml
/bin/functionalTest/camunda/camunda-delete-process-instances-request-parameter.json
/bin/functionalTest/documents/notice_of_appeal.pdf
/bin/functionalTest/requests/ccd/wa_case_data.json
/bin/functionalTest/requests/roleAssignment/r2/set-organisational-role-assignment-request.json
/bin/functionalTest/requests/roleAssignment/set-organisational-role-assignment-request.json
/bin/functionalTest/requests/roleAssignment/set-organisational-role-assignment-request-without-end-date.json
/bin/functionalTest/requests/roleAssignment/set-restricted-role-assignment-request.json
/bin/functionalTest/application-functional.yaml
/bin/integrationTest/camunda/camunda-delete-process-instances-request-parameter.json
/bin/integrationTest/application-integration.yaml
/bin/integrationTest/post-task-camunda-response.json
/bin/main/camunda/camunda-active-task-clean-up-query.json
/bin/main/camunda/camunda-delete-active-process-instances-request.json
/bin/main/camunda/camunda-delete-historic-process-instances-request.json
/bin/main/camunda/camunda-historic-task-pending-termination-query.json
/bin/main/camunda/camunda-historic-task-unterminated-query.json
/bin/main/camunda/camunda-history-task-clean-up-query.json
/bin/main/camunda/camunda-search-cftTaskState-unconfigured.json
/bin/main/camunda/camunda-search-taskState-unconfigured.json
/bin/main/application-local.yaml
/bin/test/uk/gov/hmcts/reform/wataskmonitor/domain/jobs/adhoc/createtasks/ad-hoc-create-tasks.json
