logging.level.uk.gov.hmcts.reform: debug

feign:
  client:
    config:
      default:
        loggerLevel: full

idam:
  test:
    username: ${TEST_WA_LAW_FIRM_USERNAME:some_user@hmcts.net}
    password: ${TEST_WA_LAW_FIRM_PASSWORD:password}

document_management:
  url: ${DM_STORE_URL:http://local-dm-store}

